/* Cover page design */
body {
  margin: 0;
  line-height: normal;
}
.cover-page-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.skill-up-and-push-your-limits {
  display: block;
}
.with-more-than {
  font-weight: 500;
}
.with-more-than-5400-courses {
  display: block;
  font-size: var(--font-size-sm);
}
.cover-page-info-container1 {
  line-break: anywhere;
  width: 100%;
}
.cover-page-info-container {
  margin: 0;
  position: absolute;
  top: 158px;
  left: 57px;
  display: flex;
  align-items: center;
  width: 898px;
  height: 534px;
}
.cover-page-image {
  position: absolute;
  top: 193px;
  left: 994px;
  border-radius: 38px;
  width: 895px;
  height: 576px;
  object-fit: cover;
}
.explore-button,
.explore-our-courses {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.explore-button {
  background-color: var(--color-mediumblue);
  top: 782.58px;
  left: 169.33px;
  border-radius: 15px;
  width: 672px;
  height: 130.78px;
}
.explore-button p {
  font-size: var(--font-size-base);
  font-weight: 700;
  font-family: var(--font-jost);
  color: var(--color-white);
}
.cover-page-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.cover-page {
  background-color: var(--color-gray);
  text-align: left;
  font-size: 86px;
  color: var(--color-black);
  font-family: var(--font-jost);
}

/* Navigation Bar Design*/
.nav-bar {
  top: 0;
  left: 0;
}
.nav-bar,
.register-button {
  position: absolute;
}
.nav-bar {
  height: 99.37%;
  width: 100%;
  right: 0;
  bottom: 0.63%;
  background-color: var(--color-gray);
}
.register-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumblue);
  font-weight: 700;
  height: 42.41%;
  width: 6.82%;
  top: 29.08%;
  right: 1.77%;
  bottom: 28.5%;
  left: 91.41%;
  border-radius: 14px;
}
.login-button {
  height: 100.58%;
  width: 3.23%;
  top: -1.21%;
  left: 85.21%;
  color: var(--color-mediumblue);
  text-align: left;
}
.about-us-button {
  font-size: var(--font-size-sm);
}
.about-us-button,
.coursezz-logo,
.login-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  font-weight: 700;
  font-family: var(--font-jost);
  display: flex;
  align-items: center;
}
.login-button,
.register-button {
  font-size: var(--font-size-sm);
  font-family: var(--font-jost);
}
.register-button {
  color: var(--color-gray-100);
  text-align: center;
  mix-blend-mode: normal;
}
.about-us-button,
.coursezz-logo {
  height: 100.58%;
  width: 5.52%;
  top: 0;
  left: 76.72%;
  color: var(--color-mediumblue);
  text-align: center;
  justify-content: center;
}
.coursezz-logo {
  height: 58.17%;
  width: 12.01%;
  top: 21.81%;
  left: 1.15%;
  font-size: var(--font-size-base);
}
.horizontal-rule {
  position: absolute;
  height: 1.21%;
  width: 100.05%;
  top: 99.39%;
  right: -0.03%;
  bottom: -0.61%;
  left: -0.03%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 82.52px;
}