:root {
  /* fonts */
  --font-jost: Jost;

  /* font sizes */
  --font-size-sm: 24px;
  --font-size-base: 32px;
  --font-size-lg: 40px;

  /* Colors */
  --color-gray: #feffff;
  --color-gray-100: #feffff;
  --color-gray-200: #fefefe;
  --color-black: #000;
  --color-mediumblue: #3840ff;
  --color-white: #fff;

  /* Border Radius */
  --br-md: 15px;
  --br-sm: 5px;
}

::placeholder {
  padding-left: 10px
}